/* Fundo escuro da página */
body {
    margin: 0;
    background-color: #0D1321;
    font-family: 'Sora', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Card azul claro central */
.center-box {
    background: #BDEDFF;
    padding: 45px 55px;
    border-radius: 14px;
    text-align: center;
    width: 360px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

/* Logo */
.logo-img {
    width: 75px;
    margin-bottom: 8px;
}

/* Título */
.title {
    font-family: 'Sora', sans-serif;
    color: #000;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 1.4;
}

/* Inputs iguais ao PNG */
.input-field {
    font-family: 'Sora', sans-serif;
    width: 90%;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 8px;
    background: #BDEDFF;
    border: 1px solid #7D7D7D;
    font-size: 14px;
    color: black;
}

.input-field::placeholder {
    color: black;
    opacity: 1;
}

/* Botão */
.btn {
    font-family: 'Sora', sans-serif;
    width: 100%;
    margin-top: 32px;
    padding: 14px;
    background: linear-gradient(90deg, #0D1321 0%, #053B8A 100%);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

/* Texto de cadastro */
.signup-text {
    font-family: 'Sora', sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 14px;
}

.signup-text a {
    color: #000;
    text-decoration: underline;
}

/* Popup MFA — deve iniciar invisível */
#mfa-popup {
    display: none; /* ESSENCIAL! */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.mfa-popup-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.reset-links {
    margin-top: 10px;
    font-size: 13px;
}

.reset-links a {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

