/*CADASTRO */
body {
    margin: 0;
    background-color: #0D1321;
    font-family: 'Sora', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    background: #BDEDFF;
    padding: 45px 55px;
    border-radius: 14px;
    text-align: center;
    width: 360px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

.logos-side{
    width: 75px;
}

.login-box {
    color: black
}

.title {
    font-family: 'Sora', sans-serif;
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 1.4;
}

.subtitle {
    font-size: 16px;
    color: #000;
}

.input-field {
    font-family: 'Sora', sans-serif;
    width: 90%;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 8px;
    background: #BDEDFF;
    border: 1px solid #7D7D7D;
    font-size: 14px;
    color: black ;
}

.input-field::placeholder {
    color: black;
    opacity: 1;
}

.userTitle {
    font-size: 15px;
    color: #000;
}

.userType{
    font-family: 'Sora', sans-serif;
    width: 30%;
    margin-top: 25px;
    background: linear-gradient(90deg, #0D1321 0%, #053B8A 100%);
    color: white;
    background-color: #053B8A;
    border-radius: 5px;
}

.signupBtn{
    font-family: 'Sora', sans-serif;
    width: 100%;
    margin-top: 5px;
    padding: 14px;
    background: linear-gradient(90deg, #0D1321 0%, #053B8A 100%);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.signup-text {
    margin-top: 18px;
    color: #000;
    font-size: 14px;
    margin-bottom: 30px;
}
.signup-text a {
    text-decoration: underline;
    color: #000;
}