/* CADASTRO */
body {
    margin: 0;
    background-color: #0D1321;
    font-family: 'Sora', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    background: #BDEDFF;
    padding: 45px 55px;
    border-radius: 14px;
    text-align: center;
    width: 360px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

.logos-side {
    width: 75px;
}

.login-box {
    color: black;
}

.title {
    font-family: 'Sora', sans-serif;
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 1.4;
}

.subtitle {
    font-size: 16px;
    color: #000;
}

.input-field {
    font-family: 'Sora', sans-serif;
    width: 90%;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 8px;
    background: #BDEDFF;
    border: 1px solid #7D7D7D;
    font-size: 14px;
    color: black;
}

.input-field::placeholder {
    color: black;
    opacity: 1;
}

.userTitle {
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 15px;
    color: #000;
}

.userType {
    font-family: 'Sora', sans-serif;
    width: 30%;
    margin-top: 25px;
    background: linear-gradient(90deg, #0D1321 0%, #053B8A 100%);
    color: white;
    border-radius: 5px;
}

.btn,
.signupBtn {
    font-family: 'Sora', sans-serif;
    width: 100%;
    margin-top: 16px;
    padding: 14px;
    background: linear-gradient(90deg, #0D1321 0%, #053B8A 100%);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.signup-text {
    margin-top: 18px;
    color: #000;
    font-size: 14px;
    margin-bottom: 30px;
}

.signup-text a {
    text-decoration: underline;
    color: #000;
}

/* POPUP NORMAL */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
    background: #0D1321;
    padding: 20px 24px;
    border-radius: 8px;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    opacity: 0;
    z-index: 9999;
    width: 300px;
    max-width: 90%;
    transition: opacity 0.35s ease, transform 0.35s ease;
    border-left: 6px solid #0a6624; 
}

.popup.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup .icon {
    font-size: 26px;
    font-weight: bold;
    color: #0a6624;
}

.popup.error {
    border-left-color: #ff4c4c !important;
}

.popup.error .icon {
    color: #ff4c4c !important;
}

.popup.success {
    border-left-color: #0a6624 !important;
}

.popup.success .icon {
    color: #0a6624 !important;
}

.popup .text .title {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
}

.popup .text .message {
    margin: 4px 0 0;
    font-size: 14.5px;
    color: #d8e1eb;
    line-height: 1.35;
}

/* ========================= */
/* POPUP DO QR CODE (MODAL)  */
/* ========================= */

#qr-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.65);
    display: none;
    justify-content: center;
    align-items: center;

    z-index: 10000;
}

#qr-popup .mfa-popup-content {
    background: #0D1321;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    color: white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

#qrPopupImg {
    width: 180px;
    height: 180px;
    border-radius: 6px;
    margin: 15px 0;
}

#closeQRBtn {
    background: #0a6624;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}
